body {
    
}

/* POP UP 

    <div class="custompopup" id="divThankYou" runat="server">
        <p>
            <asp:Label ID="lblmessage" runat="server"></asp:Label>
        </p>
        <asp:Button ID="ButtonPopUp" CssClass="classname leftpadding" runat="server" Text="Ok" OnClick="ButtonPopUp_Click1" />
    </div>

*/

.custompopup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
}

    .custompopup p, .custompopup div {
        margin-bottom: 10px;
    }

    .custompopup label {
        display: inline-block;
        text-align: left;
        width: 120px;
    }

.custompopup input[type="text"], .custompopup input[type="password"] {
        border: 1px solid;
        border-color: #999 #ccc #ccc;
        margin: 0;
        padding: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
}

.custompopup input[type="text"]:hover, .custompopup input[type="password"]:hover {
    border-color: #555 #888 #888;
}

/* Uniwersalne */


.CentrujacyDIV {
    margin: auto;
    width: 448px;
    height: 440px;
}

.Nalowki1 {
    margin-left: auto;
    margin-right: auto;
}


/* Oferty OUT 1 */

.OfertyDIV1{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 112px;
    background-color: #808080;
}

.OfertyLabelDIV1 {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.OfertyTextBoxDIV1 {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

#Button4 {
    float: left;
    margin-left: 20px;
}

#Button1 {
    float: left;
    margin-left: 20px;
}

#Button3 {
    float: right;
    margin-right: 20px;
}


/* Podanie IN */


#DivPodaniaGoscia {
    margin: auto;
    width: 50%;
    height: 659px;
}

.PodaniaDIV1 {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 60px;
    background-color: #808080;
}

.PodaniaLabelDIV1 {
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

.PodaniaTextBoxDIV1 {
    float: right;
    margin-right: 40%;
    margin-top: 1%;
}

#DropDownListPodania1 {
    width: 150px;
    float: left;
    margin-left: 30%;
    margin-top: 1%;
}

#TextBoxPodania1 {
    float: right;
    margin-right: 10%;
    margin-top: 1%
}

#LabelPodania1 {
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}

#Button11 {
    float: left;
    margin-left: 1%;
}

#Button12 {
    float: right;
    margin-right: 1%;
}

/* Logowanie Admina */

.LogowanieDIV1 {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 60px;
    background-color: #808080;
}

#LabelLogowanie2 {
    margin-top: 3%;
    float: left;
    margin-left: 3%;
}

#LabelLogowanie3 {
    margin-top: 3%;
    float: left;
    margin-left: 3%;
}

#TextBoxLogowanie1 {
    float: right;
    margin-top: 3%;
    margin-right: 3%;
}

#TextBoxLogowanie2 {
    float: right;
    margin-top: 3%;
    margin-right: 3%;
}

#ButtonLogowanieWstecz {
    float: left;
    margin-top: 1%;
    margin-left: 1%;
}

#ButtonLogowanieLogin {
    float: right;
    margin-top: 1%;
    margin-right: 1%;
}


/*Panel Administratora*/

.AdminPrzyciskiNawigacji {
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    width: 150px;
}
#AdminTytul1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

#LabelTytuluAdmina {
    margin: auto;
}

#DivPaneluAdmina {
    background-color: grey;
}

#DivAdminPracownika{
    margin: 10px;
    background-color: red;
    height: 400px;
}

#DivAdminStanowiska {
    margin: 10px;
    background-color: red;
    height: 400px;
}

#DivAdminPodania {
    margin: 10px;
    background-color: red;
}

#DivAdminOferty {
    margin: 10px;
    background-color: red;
}

#DivAdminDzialu {
    margin: 10px;
    background-color: red;
}

.Tabele1{
    margin-left: 10px;
    }

#ButtonAdminBack1 {
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    width: 150px;
}

.CentrowaneLewe{
    float:left;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.CentrowanePrawe {
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.PrzerwaMiedzyLiniami {
    margin-top: 10px;
    margin-bottom: 10px;
}

.CentrujacyDIV2 {
    margin: auto;
    width: 600px;
    height: 800px;
}